@page
@model AirportDelayFinder.Pages.AirportInfoModel
@{
    ViewData["Title"] = "Airport Information";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="path/to/bootswatch.css">
    <link rel="stylesheet" href="path/to/custom.css">
</head>
<body>
    <h1 class="h1 glow-text typewriter-heading"> Airpot Information!</h1>

    <br />
    <br />
    
</body>
</html>