@page
@model AirportDelayFinder.Pages.delaysModel
@{
    var AirportID = HttpContext.Request.Query["AirportID"];

}

<html>
<head>
    <title>Delay Finder</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="path/to/bootswatch.css">
    <link rel="stylesheet" href="path/to/custom.css">'
    <style>
        #currentDate {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 36px;
            color: #000000; 
        }
    </style>


</head>
<body>
    <div id="currentDate">Today's Date: <span id="date"></span></div>
    <h1 class="h1 glow-text typewriter-heading">This is the Delay Finder!</h1>
    
    <br />

    <h2 class="h2 text-black">Use this tool to help anticipate delays</h2>
    <form class="form-check-inline">
        <label for="fltDateInp">Flight Date</label>
        <input type="date" id="trvDateInp" />
        <label for="fltDrop">Select your Destination Airport.</label>
        <select name="trvDrop">
            <option value="1">Pittsburgh</option>
            <option value="2">New York </option>
            <option value="3">Los Angeles</option>
        </select>
        <input type="submit" id="submitBtn" value="Search" class="btn myButton" />
    </form>

    <br />

    <h2 class="h2 text-black">The airports that are most likely to see climate/weather delays.</h2>
    <table class="reasonTable myTable">
        <thead>
            <tr>
                <td>Cities' airports with the most weather delays</td>
                <td>Ranking</td>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    New York
                </td>
                <td>1</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    Chicago 
                </td>
                <td>2</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    San Francisco 
                </td>
                <td>3</td>
            </tr>
        </tbody>
    </table>

    <br />

    <h2 class="h2 text-black">Climate paterns that may delay your flight.</h2>
    <ul>
        <li>Winter Season and Heavy Snowfall</li>
        <li>Increased Rainfall during Spring </li>
        <li>High Winds in various seasons </li>
    </ul>
    <script>
        
        var todayDate = new Date();
        var dateElement = document.getElementById("date");
        dateElement.textContent = todayDate.toDateString();
    </script>

</body>
</html>



