@page
@model AirportDelayFinder.Pages.AirportCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Airport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Airport.CityID" class="control-label"></label>
                <input asp-for="Airport.CityID" class="form-control" />
                <span asp-validation-for="Airport.CityID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Airport.AirportID" />
            <div class="form-group">
                <label asp-for="Airport.AirportName" class="control-label"></label>
                <input asp-for="Airport.AirportName" class="form-control" />
                <span asp-validation-for="Airport.AirportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airport.AirportRunwayCount" class="control-label"></label>
                <input asp-for="Airport.AirportRunwayCount" class="form-control" />
                <span asp-validation-for="Airport.AirportRunwayCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airport.AirportAvgYearlyPassengers" class="control-label"></label>
                <input asp-for="Airport.AirportAvgYearlyPassengers" class="form-control" />
                <span asp-validation-for="Airport.AirportAvgYearlyPassengers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Airport.AirportDestinationCount" class="control-label"></label>
                <input asp-for="Airport.AirportDestinationCount" class="form-control" />
                <span asp-validation-for="Airport.AirportDestinationCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
